header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

footer {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: blue;
}